{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block style %}
<style>
    div.itemdiv{
        display:flex;
        align-items:center;
        justify-content:center;
    }

</style>
{% endblock %}


{% block title %}Village - Login{% endblock %}

{%block page_content%}
<div class="container">
{% if current_user.is_authenticated %}
<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#list" data-toggle="tab">列表</a></li>
    <li><a href="#chart" data-toggle="tab">图表</a></li>
    {% if current_user.admin == 1%}
    <li><a href="#unchecked" data-toggle="tab">待审核</a></li>
    {% endif %}

</ul>

    <div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="list">
        <ul class="list-group">
        {% for file in files %}
        <li class="list-group-item">
            <div class="glyphicon-file">
                {{file.name}}
                <a class="btn-mini" href="{{ url_for('download', filename = file.name) }}">下载</a>
                {% if current_user.admin == 1%}
                <a class="btn-mini" href="{{ url_for('delete', filename = file.name) }}">删除</a>
                {% endif %}
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>

    <div class="tab-pane fade" id="chart">
		{% for file in files %}
        <!--<div class="row ">-->
            <li class="list-group-item col-lg-3 row" id="items" style="border: 0">
                <div class="itemdiv col-sm-4 col-md-8">
                        <img class = "itemimg img-thumbnail " src="{{ file.image }}" alt="{{ file.name }}" >
                            <div class="caption">
                                <h4>{{ file.name }}</h4>
                                <p><a href="{{ url_for('download', filename = file.name) }}" class="btn btn-default" role="button">下载</a></p>
                                <!--<p>{{ file.artist }}</p>-->
                                <!--<p><small>{{ file.introduction }}</small></p>-->
                            </div>
                        </div>
            </li>
        <!--</div>-->
        {% endfor %}
	</div>

    <div class="tab-pane fade" id="unchecked">
        <ul class="list-group">
        {% for file in unchecked %}
        <li class="list-group-item">
            <div class="glyphicon-file">
                {{file.name}}
                <a class="btn-mini" href="{{ url_for('check', filename = file.name, res = 'pass' , unchecked = unchecked)}}">通过</a>
                <a class="btn-mini" href="{{ url_for('check', filename = file.name, res = 'reject', unchecked = unchecked) }}">不通过</a>
            </div>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>

</div>
<!-- <nav aria-label="Page navigation">
    <ul class="pagination col-md-4">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav> -->

{% else %}
    <h1>您还未登陆</h1>
    <hr>
{% endif %}




{% endblock %}
